* {
    box-sizing: border-box;
}

body {
    background-color: #f2efea;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
}

img {
    width: 100%;
    height: auto;
}