@font-face {
    font-family: "cinzel";
    src: url("/fonts/Cinzel-VariableFont_wght.ttf");
}

:root {
    --grey: #6f6f6f;
    --redbrown: #733027;
    --fuglybrown: #5a3628;
    --sansfont: Arial, Helvetica, sans-serif;
    --altfont: "cinzel", serif, times;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f2efea;
    margin: 2%;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 10vw;
    column-gap: 4vw;
    margin: 5% 2% 0 2%;
}

article {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* border: solid 1px black; */
    background-color: white;
    padding-bottom: 2rem;
    transition: all .2s;
    filter: opacity(80%);
}

article:hover {
    transform: scale(1.005);
    filter: opacity(100%);
}

h2,
.brandList {
    font-family: var(--altfont);
    font-weight: 400;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
}

h1.logo {
    color: #ffffff;
    background-color: #18110b;
    font-family: var(--sansfont);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: .6rem;
    width: 230px;
    letter-spacing: .2rem;
}

ul {
    list-style: none;
}

button {
    color: var(--redbrown);
    background-color: #ffff;
    border: solid 1.5px var(--redbrown);
    font-size: 1.3rem;
    padding: .2rem .5rem .2rem .5rem;
    margin: auto;
    text-transform: uppercase;
    transition: all .5s;
}

button:hover {
    color: #ffff;
    background-color: var(--redbrown);
    transform: scale(1.05);
}

ul.details {
    color: var(--grey);
    font-family: var(--altfont);
    font-style: italic;
    font-size: 1.1rem;
    font-weight: lighter;
}


/* .colorbox {
    width: 10px;
    height: 10px;
} */

.details>li {
    margin: 1rem 0rem 1rem 0;
}

ul.details * {
    color: black;
}

.details li {
    font-family: var(--sansfont);
    color: var(--grey);
}

.altFont {
    color: #000000;
    font-family: var(--altfont);
}

h2,
.name,
.brand,
.price,
.stock,
.color {
    color: #6f6f6f;
}

.colorWrapper {
    width: 100%;
    display: flex;
    justify-content: start;
}

.colorbox>ul {
    display: flex;
    padding-left: 0;
    margin-left: 0;
    justify-content: start;
}

.colorbox>ul>li {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    /* border: solid 1px var(--grey); */
}

.brandList {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    color: var(--redbrown);
    display: inline-flex;
    flex-wrap: wrap;
    /* border: solid 1px blue; */
    font-family: var(--altfont);
    font-size: 1.5rem;
    gap: .5rem;
}

.carryList {
    display: flex;
    flex-wrap: wrap;
    /* border: solid 1px pink; */
    gap: 1rem;
}

.brand {
    font-family: var(--sansfont);
    font-size: 1rem;
    text-transform: uppercase;
}

.name {
    font-family: var(--altfont);
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: .1rem;
}

img {
    width: 100%;
    height: auto;
    order: -2;
}

section.brandName {
    border-bottom: solid 1.5px grey;
    margin: 0 4% 0 4%;
}